<!-- university/templates/university/branch_list.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Branches</h1>
    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
    {% if user.is_staff %}
      <a href="{% url 'university:branch_create' %}" class="btn btn-primary">Create Branch</a>
    {% endif %}
    <div class="grid grid-3">
      {% for branch in branches %}
        <div class="card">
          <h3>{{ branch.name }} {{ branch.degree.university.name }}</h3>
          <p><strong>Abbreviation:</strong> {{ branch.abbreviation }} </p>
          <p><strong>Degree:</strong> {{ branch.degree.name }} {{ branch.degree.university.name }} </p>
          <p><strong>Active:</strong> {{ branch.is_active|yesno:"Yes,No" }}</p>
          {% if user.is_staff %}
            <a href="{% url 'university:branch_update' branch.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'university:branch_delete' branch.pk %}" class="btn btn-secondary" onclick="return confirm('Are you sure you want to delete {{ branch.name }}?');">Delete</a>
          {% endif %}
        </div>
      {% empty %}
        <p>No branches found.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}